.mincho {
    font-family: "Times New Roman", TimesNewRoman, "Yu Mincho", YuMincho, serif;
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: normal;
    src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular");
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: bold;
    src: local("YuGothic-Bold"), local("Yu Gothic");
}

.gothic {
    font-family: "Helvetica Neue", Helvetica, Arial, MyYuGothicM, YuGothic, sans-serif;
}
