@tailwind base;
@tailwind components;

.writing-v-rl {
    writing-mode: vertical-rl;
}

.flex-center {
    @apply flex justify-center items-center;
}

.editor-bg {
    background-color: #f9f9fa;
}

.system-font {
    font-family: "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, sans-serif;
    font-weight: 700;
}

.btn-twitter {
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-image: url(/twitterlogo.svg);
    background-repeat: no-repeat;
    background-position: 16px;
}

.novelView-header {
    @apply -right-14 transition-all duration-500;
}

.novelView-header__show {
    @apply right-0;
}

@tailwind utilities;
